body{
  background-color: #313131;
}
table{
    border-top: 2px maroon solid;
    border-left: 2px maroon solid;
    border-right: 2px maroon solid;
    border-collapse: collapse;
    text-align: center;
}
thead{
  position: absolute;
  top: 60px;
  border-top: 2px maroon solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px #ccc solid;
  background-color: #eee;
  margin-left: -2px;
  border-bottom: none;
}
tbody{
  height: 100%;
}
tfoot{
  position: absolute;
  top: 889px;
  border-bottom: 2px maroon solid;
  border-left: 2px maroon solid;
  border-right: 2px maroon solid;
  margin-left: -2px;
  background-color: #eee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
td, th{
  border-left: 1px #ccc solid;
  border-top: 1px #ccc solid;
  padding: 5px;
  width: 66px;
}
tbody tr:hover {
  background-color: CadetBlue;
  color: #eee;
}
.alignLeft{
  text-align: left;
  width: 190px
}
.centerContentH{
  display: flex;
  justify-content: center;
}
.cursorPointer{
  cursor: pointer;
}
.sort_asc::after{
  font-size: 12px;
  padding-left: 5px;
  content: '▲';
}
.sort_desc::after{
  font-size: 12px;
  padding-left: 5px;
  content: '▼';
}
.oddTr{
  background-color: rgb(250, 255, 255);
}
.evenTr{
  background-color: rgb(255, 255, 250);
}
#pageTitle{
  color: #eee;
  margin-bottom: 40px;
}
#statsTableContainer{
  height: 800px;
  overflow-y: auto;
}
#nomColStatsTable{
  width: 190px;
  border-top-left-radius: 10px;
  border-left: 2px maroon solid;
  border-top: none;
}
#lastColStatsTable{
  border-top-right-radius: 10px;
  border-right: 2px maroon solid;
  border-top: none;
}
#refresh{
  margin: -3px 20px 0 5px;
  cursor: pointer;
}
#filterSymbol{
  margin: 2px 5px 0 20px;
  font-size: 16px;
}
#filterOnLikeSymbol{
  margin: 2px 5px 0 75px;
  font-size: 16px;
  cursor: pointer;
}
#nbThings{
  margin-left: 65px;
}