body{
  background-color: #313131;
}
table{
    border-top: 2px maroon solid;
    border-left: 2px maroon solid;
    border-right: 2px maroon solid;
    border-collapse: collapse;
    text-align: center;
}
thead{
  position: absolute;
  top: 60px;
  border-top: 2px maroon solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px #ccc solid;
  background-color: #eee;
  margin-left: -2px;
  border-bottom: none;
}
tbody{
  height: 100%;
}
tfoot{
  position: absolute;
  top: 889px;
  border-bottom: 2px maroon solid;
  border-left: 2px maroon solid;
  border-right: 2px maroon solid;
  margin-left: -2px;
  background-color: #eee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
td, th{
  border-left: 1px #ccc solid;
  border-top: 1px #ccc solid;
  padding: 5px;
  width: 66px;
}
tbody tr:hover {
  background-color: CadetBlue;
  color: #eee;
}
img{
  border-radius: 5px;
  border: 1px #593f80 solid;
}
.alignLeft{
  text-align: left;
  width: 190px
}
.centerContentH{
  display: flex;
  justify-content: center;
}
.cursorPointer{
  cursor: pointer;
}
.sort_asc::after{
  font-size: 12px;
  padding-left: 5px;
  content: '▲';
}
.sort_desc::after{
  font-size: 12px;
  padding-left: 5px;
  content: '▼';
}
.oddTr{
  background-color: rgb(250, 255, 255);
}
.evenTr{
  background-color: rgb(255, 255, 250);
}
.thingInfoTitle, .generalInfoTitle{
  font-weight: bold;
  margin-right: 5px;
}
.generalInfoTitle{
  color: rgb(35, 32, 81);
}
.thingInfoContainer{
  display: block;
}
.imgChevron{
  padding: 0 50px;
  cursor: pointer;
}
.generalInfoText{
  color: rgb(38, 128, 120);
}
.generalInfoContainer{
  justify-self: center;
}
#pageTitle{
  color: #eee;
  margin-bottom: 40px;
}
#statsTableContainer{
  height: 800px;
  overflow-y: auto;
}
#nomColStatsTable{
  width: 190px;
  border-top-left-radius: 10px;
  border-left: 2px maroon solid;
  border-top: none;
}
#lastColStatsTable{
  border-top-right-radius: 10px;
  border-right: 2px maroon solid;
  border-top: none;
}
#refresh{
  margin: -3px 20px 0 5px;
  cursor: pointer;
}
#filterSymbol{
  margin: 2px 5px 0 49px;
  font-size: 16px;
}
#filterOnLikeSymbol{
  margin: 4px 5px 0 50px;
  font-size: 16px;
  cursor: pointer;
}
#nbThings{
  margin-left: 65px;
}
#thingThumbnailImageContainer, #thingThumbnailTitleContainer{
  display: flex;
  justify-content: center;
}
#thingThumbnailImageContainer{
  border-radius: 5px;
}
#thingThumbnailTitleContainer{
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
}
#thingInfosContainer{
  display: grid;
  grid-template-columns: 215px 105px 346px;
  row-gap: 20px;
  width: 666px;
  margin-top: 20px;
}
#thingThumbnailDialog{
  width: 50%;
  height: 70%;
  position: absolute;
  border: 1px #37448a solid;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
}
#toggleTabImages{
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}
#toggleTabGraph{
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}
#generalInfos{
  margin: 1px 15px 0 50px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 900;
}
#generalInfosTitleContainer{
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
  color: rgb(35, 32, 81);
}
#generalInfosSubContainer1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  width: 666px;
  margin-top: 20px;
  font-size: 24px;
}
#generalInfosSubContainer2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  width: 666px;
  margin-top: 200px;
  font-size: 24px;
  margin-top: 20px;
}
#generalInfosSubContainer3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  width: 666px;
  margin-top: 20px;
  font-size: 24px;
  margin-top: 20px;
}
#generalInfosSubContainer4{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  width: 666px;
  margin-top: 20px;
  font-size: 24px;
  margin-top: 20px;
}
#generalInfosDialog{
  width: 50%;
  height: 70%;
  position: absolute;
  border: 1px #37448a solid;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
}
#generalInfosMoyenneTitle{
  margin-top: 120px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  color: rgb(35, 32, 81);
}
#generalInfosQuantiteTitle{
  margin-top: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  color: rgb(35, 32, 81);
}
#generalInfoFollowersContainer{
  display: flex;
  justify-content: center;
  margin-top: 120px;
  font-size: 24px;
}
#thingInfoCategorieContainer{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-style: italic;
}
#imagesContainer{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}